/**********************************************
*** GENERAL
**********************************************/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

body {
    background-color: #1D976C; 
    background-color: -webkit-linear-gradient(to right, #93F9B9, #1D976C); 
    background-color: linear-gradient(to right, #93F9B9, #1D976C);
    background-image: url(../imgs/02.jpg);
    background-size: cover;
    background-position: center;
    font-family: Lato;
    font-weight: 300;
    position: relative;
    height: 100vh;
    color: #555;
}

.wrapper {
    width: 1000px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.3);
    overflow: hidden;
}

.player-0-panel,
.player-1-panel {
    width: 50%;
    float: left;
    height: 600px;
    padding: 100px;
}



/*
*********************************************
 PLAYERS
*********************************************
*/

.player-name {
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 300;
    margin-top: 20px;
    margin-bottom: 10px;
    position: relative;
}

.player-score {
    text-align: center;
    font-size: 80px;
    font-weight: 100;
    color: #00bd8a;
    margin-bottom: 130px;
}

.inactive { 
    filter: blur(3px);
    background-color: #0F2027; 
}

/* .active .player-name::after {
    content: "\2022";
    font-size: 47px;
    position: absolute;
    color: #EB4D4D;
    top: -7px;
    right: 10px;
    
} */

.player-current-box {
    display: flex;
    border-radius: 50px;
    background-color: #00bd8a;
    color: #fff;
    width: 100%;
    margin: 0 auto;
    padding: 12px 75px;
    text-align: center;
}

.player-current-label {
    margin: 10px;
    text-transform: uppercase;
    margin-bottom: 10px;
    font-size: 12px;
    color: #222;
}

.player-current-score {
    font-size: 30px;
}

button {
    position: absolute;
    width: 200px;
    left: 50%;
    transform: translateX(-50%);
    color: #555;
    background: none;
    border: none;
    font-family: Lato;
    font-size: 20px;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 300;
    transition: background-color 0.3s, color 0.3s;
}

button:hover { font-weight: 600; }
button:hover i { margin-right: 20px; }

button:focus {
    outline: none;
}

i {
    color: #00bd8a;
    display: inline-block;
    margin-right: 15px;
    font-size: 32px;
    line-height: 1;
    vertical-align: text-top;
    margin-top: -4px;
    transition: margin 0.3s;
}
/* making button move on inactive players */
.btn-new { 
    top: 225px;
    color: #fff;
}
.btn-new-1 { 
    margin-left: 250px;
}
.btn-new-0 { 
    margin-left: -250px;
}

.btn-roll { 
    top: 275px;
    color: #fff;
}
.btn-roll-1 {
    margin-left: 227px;
}
.btn-roll-0 {
    margin-left: -274px;
}

.btn-hold { 
    top: 325px;
    color: #fff;
}
.btn-hold-1 {
    margin-left: 210px;
}
.btn-hold-0 {
    margin-left: -291px;
}

.dice {
    position: absolute;
    left: 50%;
    top: 78px;
    transform: translateX(-50%);
    height: 100px;
    box-shadow: 0px 10px 60px rgba(0, 0, 0, 0.10);
}
.dice-1 {
    margin-left: 255px;
}
.dice-0 {
    margin-left: -255px;
}
/* making button move on inactive players ends */


.winner { font-weight: 300; color: #00bd8a; }